[user]
			name = Moshkim
			email = rla6100@gmail.com 
[alias]
		    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
		    excludesfile = /Users/mattgabor/.gitignore_global
			    editor = /usr/bin/vim
[difftool "sourcetree"]
		    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
			    path = 
[mergetool "sourcetree"]
		    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
			    trustExitCode = true
[merge]
		    tool = sourcetree
[push]
		    default = current
[pull]
		    default = current
[filter "lfs"]
			required = true
			clean = git-lfs clean %f
			smudge = git-lfs smudge %f
